@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap");

& {
  color: white;
  margin-top: 5vh;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Playfair Display", serif;

  h2 {
    text-align: center;
    width: 100%;
    font-size: 4vw;
  }

  h2::after {
    content: "";
    display: block;
    width: 15vw;
    height: 0.2rem;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 2vh auto 0;
  }

  label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1vh;
    text-align: center;
    align-items: center;
    width: auto;
  }

  .error-message {
    border: solid 0.2rem rgba(255, 255, 255, 0.2);
    padding: 1vh 2vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-style: italic;
    text-align: center;
    width: 100%;
    font-size: 2vw;
  }

  input,
  button {
    height: 6vh;
    font-size: 2vw;
    font-family: "Playfair Display", serif;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    border-radius: 0;
    color: white;
    transition: all 0.3s ease;
    width: 50vw;

    &:focus {
      border: 2px solid #fff;
      outline: none;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  input {
    margin-bottom: 1vh;
    padding: 1vh 2vw;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  button {
    padding: 1vh 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    bottom: 10px;

    &:hover,
    &:focus {
      background-color: #fff;
      color: #000;
      text-decoration: none;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.8);
      transform: translateY(1px);
    }
  }

  @media (max-width: 768px) {
    input,
    button {
      width: 70vw;
    }
  }

  @media (max-width: 480px) {
    input,
    button {
      width: 85vw;
    }
  }
}
